
* {
    font-family: Tahoma;
}

.subject{
    text-align: center;
}

body{
    /* background-color: lightblue;
    color: darkblue; */
}
.container{
    width: 80%;
    margin: 0 auto;

}
.flex{
    display: flex;
}
table.products{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

